body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #eeee22;
  padding: 1rem 3rem;
  
}

.left_nav_bar {
  flex: 1;
  
}

.right_nav_bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: 12px;

}

.smiskis_header_bar {
  box-sizing: border-box;
  padding: 10px 0px 10x 30px;
  position: relative;
}

.tag_line{
  background-color: #88c916;
  padding: 0.5rem;
  column-gap: 2rem;
}

.tag_line h4{
  font-size: 1.1rem;
  color: #228b22;
}

.smiskis-row-fixed-width{
  width: 100%;
  text-align: center;
}

.smiskis-row-content{
  margin-left: auto;
  margin-right: auto;
}

.smiskis-column-group{
  clear: both;
}

.smiskis-bg-color-yellow{
  background-color: #eeee22;
}

.smiskis-bg-color-green{
background-color: #228b22;
}

.smiskis-content-wrap{
  padding: 0px;
  position: relative;
  margin: 0;
  background-color: #fae81e;
}

h4{
  color: #808080;
  margin-bottom: 0;
}

.smiskis-text-white{
  color: white;
}

.col-md-6{
  width: 50%;
}

.col-sm-6{
  width: 50%;
}

.col-md-6, .col-sm-6{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.icon-social-footer{
  margin: 0 5px 20px 5px;
  display: inline-block;
  font-size: 28px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  
}

.text-right{
  text-align: right;
}

div{
  display: block;
}

*{
  box-sizing: border-box;
}

.fl-page-footer{
  font-size: 12px;
}

.clearfix{
  content: " ";
  display: table;
}

.fl-icon{
  display: inline-block;
  font-size: 28px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  margin: 0 5px 20px 5px;
}

.fl-icon-facebook{
  color: #3b5997;
}

.fl-icon-facebook-circle{
  content: "ï‚‚";
}